@font-face {
  font-family: 'fa-solid-900';
  src: url("../fonts/fa-solid-900.ttf");
}

@font-face {
  font-family: 'fa-brands-400';
  src: url("../fonts/fa-brands-400.ttf");
}

@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf");
}

body {
  font-size: 16px;
  color: #848789;
  font-family: 'Lato-Regular';
}

.container {
  max-width: 1130px;
  margin: auto;
  padding: 0 15px;
  height: 100%;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.ibg img {
  display: none;
}

.header {
  height: 100vh;
  background: url(../img/header/bg.png) no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 35px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 85px;
}

.header .nav .logo {
  position: absolute;
  z-index: 5;
}

.header .nav .menu .burger {
  display: none;
}

.header .nav .menu .main-menu a {
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Lato-Bold';
  letter-spacing: 2.6px;
  color: #4d4959;
  padding: 0 37.5px;
  position: relative;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.header .nav .menu .main-menu a:hover {
  color: #88C3A0;
}

.header .nav .menu .main-menu a:nth-child(2) {
  padding-right: 220px;
}

.header .nav .menu .main-menu a:nth-child(2)::before {
  display: none;
}

.header .nav .menu .main-menu a:first-of-type {
  padding-left: 0;
}

.header .nav .menu .main-menu a:last-of-type {
  padding-right: 0;
}

.header .nav .menu .main-menu a:last-of-type::before {
  display: none;
}

.header .nav .menu .main-menu a::before {
  content: '';
  position: absolute;
  background: #4d4959;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  bottom: 1px;
  right: 0;
}

.about {
  background: #f7f7f7;
  padding: 110px 0 140px 0;
}

.about .about-block {
  text-align: center;
}

.about .about-block .about-text {
  margin-top: 30px;
}

.about .about-block .about-text h5 {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  color: #353738;
  font-size: 18px;
  letter-spacing: 3.6px;
}

.about .about-block .about-text p {
  margin-top: 30px;
  font-size: 18px;
  color: #848789;
  line-height: 34px;
}

.work .work-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.work .work-wrap .block-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.work .work-wrap .block-column-img {
  position: relative;
}

.work .work-wrap .block-column-img a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.work .work-wrap .block-column-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 66.667%;
          flex: 0 1 66.667%;
  position: relative;
}

.work .work-wrap .block-column-big a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work .work-wrap .block-content .block-title {
  text-align: center;
  padding: 70px 65px 95px 65px;
}

.work .work-wrap .block-content .block-title .desc {
  margin-top: 30px;
}

.work .work-wrap .block-content .block-title .desc h5 {
  font-family: 'Lato-Bold';
  text-transform: uppercase;
  font-size: 18px;
  color: #353738;
  letter-spacing: 3.6px;
}

.work .work-wrap .block-content .block-title .desc p {
  margin-top: 25px;
  line-height: 30px;
  text-align: justify;
}

.work .work-wrap .block-content .block-img-small {
  padding: 0 0 37.5% 0;
}

.feedback {
  background: #f7f7f7;
  padding: 120px 0 60px 0;
}

.feedback .feedback-slider .slick-list {
  overflow: hidden;
}

.feedback .feedback-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback .feedback-slider .slick-list .slick-track .feedback-slider-block {
  text-align: center;
}

.feedback .feedback-slider .slick-list .slick-track .feedback-slider-block .icon .fab {
  font-family: 'fa-brands-400';
  font-size: 32px;
  color: #84C7ED;
}

.feedback .feedback-slider .slick-list .slick-track .feedback-slider-block .content {
  margin-top: 30px;
}

.feedback .feedback-slider .slick-list .slick-track .feedback-slider-block .content h5 {
  font-family: 'Lato-Bold';
  font-size: 18px;
  color: #353738;
  letter-spacing: 1.8px;
}

.feedback .feedback-slider .slick-list .slick-track .feedback-slider-block .content h5 span {
  color: #848789;
  font-family: 'Lato-Light';
}

.feedback .feedback-slider .slick-list .slick-track .feedback-slider-block .content p {
  margin-top: 20px;
  font-size: 24px;
  font-family: 'Lato-Italic';
  line-height: 34px;
}

.feedback .feedback-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.feedback .feedback-slider .slick-dots li {
  list-style: none;
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.feedback .feedback-slider .slick-dots li:first-of-type {
  margin-left: 0;
}

.feedback .feedback-slider .slick-dots li button {
  font-size: 0;
}

.feedback .feedback-slider .slick-dots .slick-active {
  background: #a9afb3;
  border: none;
}

.shop .shop-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .shop-gallery .block-gallery-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap .block {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap .block:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap .block a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5;
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap .block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 194, 158, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap .block .overlay img {
  display: block;
}

.shop .shop-gallery .block-gallery-big .block-gallery-wrap .block .overlay p {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.8px;
  margin-top: 15px;
}

.shop .shop-gallery .block-gallery-big .block {
  padding: 0 0 50.1% 0;
  position: relative;
  overflow: hidden;
}

.shop .shop-gallery .block-gallery-big .block:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop .shop-gallery .block-gallery-big .block a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5;
}

.shop .shop-gallery .block-gallery-big .block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 194, 158, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.shop .shop-gallery .block-gallery-big .block .overlay img {
  display: block;
}

.shop .shop-gallery .block-gallery-big .block .overlay p {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.8px;
  margin-top: 15px;
}

.shop .shop-gallery .block-gallery-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.666%;
          flex: 0 1 16.666%;
}

.shop .shop-gallery .block-gallery-small .block {
  padding: 0 0 200.3% 0;
  position: relative;
  overflow: hidden;
}

.shop .shop-gallery .block-gallery-small .block:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.shop .shop-gallery .block-gallery-small .block a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 5;
}

.shop .shop-gallery .block-gallery-small .block .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(100, 194, 158, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.shop .shop-gallery .block-gallery-small .block .overlay img {
  display: block;
}

.shop .shop-gallery .block-gallery-small .block .overlay p {
  text-transform: uppercase;
  font-family: 'Lato-Bold';
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.8px;
  margin-top: 15px;
}

.shop .shop-offer {
  background: #282f35;
  padding: 75px 0;
}

.shop .shop-offer .btn {
  text-align: center;
}

.shop .shop-offer .btn button {
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Lato-Bold';
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 2.8px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  z-index: 1;
}

.shop .shop-offer .btn button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  left: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: -1;
}

.shop .shop-offer .btn button:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.shop .shop-offer .btn button:hover {
  color: #282f35;
}

.contact {
  padding: 100px 0 110px 0;
}

.contact .contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .contact-wrap p {
  margin-top: 35px;
  font-family: 'Lato-Italic';
  font-size: 24px;
}

.contact .contact-wrap .form {
  margin-top: 35px;
}

.contact .contact-wrap .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-wrap .form form .input {
  width: 400px;
  height: 70px;
}

.contact .contact-wrap .form form .input input {
  width: 100%;
  height: 100%;
  border: 1px solid #d3d7d9;
  padding-left: 25px;
}

.contact .contact-wrap .form form .input input::-webkit-input-placeholder {
  font-family: 'Lato-Italic';
  color: #929292;
  font-size: 20px;
}

.contact .contact-wrap .form form .input input:-ms-input-placeholder {
  font-family: 'Lato-Italic';
  color: #929292;
  font-size: 20px;
}

.contact .contact-wrap .form form .input input::-ms-input-placeholder {
  font-family: 'Lato-Italic';
  color: #929292;
  font-size: 20px;
}

.contact .contact-wrap .form form .input input::placeholder {
  font-family: 'Lato-Italic';
  color: #929292;
  font-size: 20px;
}

.contact .contact-wrap .form form .btn {
  margin-left: 10px;
}

.contact .contact-wrap .form form .btn button {
  text-transform: uppercase;
  width: 125px;
  height: 70px;
  background: #64c29e;
  font-family: 'Lato-Light';
  color: #ffffff;
  font-size: 24px;
}

.footer {
  background: #f7f7f7;
  padding: 100px 0;
}

.footer .footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-wrap .block p {
  font-family: 'Lato-Bold';
}

.footer .footer-wrap .block span {
  display: block;
  font-size: 14px;
  font-family: 'Lato-Italic';
}

.footer .footer-wrap .block span a {
  color: #848789;
}

.footer .footer-wrap .block span a:hover {
  text-decoration: underline;
}

.footer .footer-wrap .block a {
  margin-left: 10px;
}

.footer .footer-wrap .block a:first-of-type {
  margin-left: 0;
}

.footer .footer-wrap .block a .fab {
  font-family: 'fa-brands-400';
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-wrap .block a .fa-twitter {
  background: #96CDEF;
}

.footer .footer-wrap .block a .fa-facebook-f {
  background: #617BBA;
}

.footer .footer-wrap .block a .fa-pinterest-p {
  background: #CE5755;
}

.footer .footer-wrap .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-wrap .right p {
  font-family: 'Lato-Italic';
  font-size: 14px;
}

.footer .footer-wrap .right img {
  margin-left: 10px;
}

@media screen and (max-width: 1100px) {
  .work .work-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .work .work-wrap .block-column-big {
    padding: 0 0 50% 0;
  }
  .work .work-wrap .block-column-img {
    padding: 0 0 50% 0;
  }
  .work .work-wrap .block-content .block-title {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .shop .shop-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 750px) {
  .header .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  .header .nav .menu .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 25px;
    height: 15px;
    position: relative;
    z-index: 9999;
  }
  .header .nav .menu .burger.active span {
    width: 21px;
    background: #ffffff;
  }
  .header .nav .menu .burger.active::before {
    width: 21px;
    background: #ffffff;
  }
  .header .nav .menu .burger.active::after {
    background: #ffffff;
  }
  .header .nav .menu .burger span {
    background: #4d4959;
    height: 2px;
    width: 16px;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .nav .menu .burger::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background: #4d4959;
    top: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .nav .menu .burger::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 2px;
    background: #4d4959;
    bottom: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
  }
  .header .nav .menu .main-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 73, 89, 0.8);
    -webkit-transition: .3s linear;
    transition: .3s linear;
    padding-top: 200px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    transition: .3s linear;
  }
  .header .nav .menu .main-menu.show {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header .nav .menu .main-menu a {
    display: block;
    line-height: 50px;
    padding: 0;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
  }
  .header .nav .menu .main-menu a:nth-child(2) {
    padding: 0;
  }
  .header .nav .menu .main-menu a::before {
    display: none;
  }
  .contact .contact-wrap .form {
    width: 100%;
  }
  .contact .contact-wrap .form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .contact-wrap .form form .input {
    width: 100%;
  }
  .contact .contact-wrap .form form .btn {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .footer .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer .footer-wrap .social {
    margin-top: 20px;
  }
  .footer .footer-wrap .right {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .shop .shop-gallery .block-gallery-big .block-gallery-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .shop .shop-offer .btn button {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */